AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_CLIENT_SECRET=your_reddit_client_secret
REDDIT_USER_AGENT=your_reddit_user_agent
REDDIT_USERNAME=your_reddit_username
REDDIT_PASSWORD=your_reddit_password

MYSQL_HOSTNAME=host.docker.internal
MYSQL_PORT=3306
MYSQL_DATABASE=mysql_db
MYSQL_USERNAME=mysql_username
MYSQL_PASSWORD=mysql_password

POSTGRES_HOSTNAME=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres_db
POSTGRES_USERNAME=postgres_username
POSTGRES_PASSWORD=postgres_password

STAGING_AREA=/opt/airflow/data/reddit_sentiment_etl_w_spark
